* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background: linear-gradient(
      96deg,
      #d4d6d5 1%,
      #136c96 40%,
       #022130 80%
    );
}
#title{
    font-family: 'Akaya Telivigala', cursive;
    color: rgb(243, 87, 118);
    margin-top: 30px;
    font-size: 100px;
}