* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: #475569;
}
#title{
    font-family: 'Akaya Telivigala', cursive;
    color: rgb(247, 123, 148);
    margin-top: 30px;
    font-size: 100px;
}