.input-container{
 display: flex;
 justify-content: center;
 margin-top: 50px;
 margin-bottom: 18px;
}
.input-form input{
    font-size: large;
    padding: 10px;

}
.input-form button{
    font-size: larger;
    padding: 9px 10px 9px 10px;
    margin: 2px;
}
.input-form select{
    padding: 11px 0px 11px 0;
    margin: 2px;
}
.todoBox{
    display: flex;
    justify-content: center;   
}
.todo{
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 28%;
    margin-top: 8px;
}
.todoBox button{
    background-color: #475569;
    border: none;
    margin: 8px 5px 0px 5px;
}
.check{
    font-size: 40px;
    color: chartreuse;
   
}
.trash{
    font-size: 40px;
    color: red;
}.completed{
    text-decoration: line-through;
}